<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rush Hour</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Rush Hour van TaKuOh</h1>
        
        {% if not grid %}
            <h2>Kies een spelbord</h2>
            <form method="POST" action="/">
                <select name="spel" required>
                    {% for spel in spellen %}
                        <option value="{{ spel }}">{{ spel }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Laad Spelbord</button>
            </form>
        {% else %}
            <table>
                <tr>
                    <td class="border-cell"></td>
                    {% for col in grid %}
                        <td class="border-cell"></td>
                    {% endfor %}
                    <td class="border-cell"></td>
                </tr>
            
                {% for row in grid %}
                    <tr>
                        <td class="border-cell"></td>
            
                        {% for cell in row %}
                            <td class="car-{{ cell }}">
                                {{ cell }}
                            </td>
                        {% endfor %}
            
                        {% if 'X' in row %}
                            <td class="finish-cell"></td>
                        {% else %}
                            <td class="border-cell"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            
                <tr>
                    <td class="border-cell"></td>
                    {% for col in grid %}
                        <td class="border-cell"></td>
                    {% endfor %}
                    <td class="border-cell"></td>
                </tr>
            </table>
        

            <form method="POST" action="/vraag_en_beweeg">
                <label for="auto_naam">Auto:</label>
                <input type="text" name="auto_naam" id="auto_naam" required>

                <label for="stappen">Stappen:</label>
                <input type="number" name="stappen" id="stappen" required>

                <button type="submit">Beweeg</button>
                {% if message1 %}
                <p class="message">{{ message1 }}</p>
                {% endif %}
            </form>

            <form method="GET" action="/plot">
                <label for="algoritme">Kies een algoritme:</label>
                <select name="algoritme" id="algoritme" required>
                    <option value="" disabled selected>Selecteer een algoritme</option>
                    <option value="random_oud">Random Oud Algoritme</option>
                    <option value="random_new">Random Nieuw Algoritme</option>
                    <option value="bfs">Breadth-First Search (BFS)</option>
                </select>
                
                <label for="aantal_keer">Hoeveelheid Potjes:</label>
                <input type="number" name="aantal_keer" id="aantal_keer" required>

                <button type="submit">Plot Grafiek</button>
            </form>

            <form method="GET" action="/start_algoritme">
                <label for="algoritme">Kies een algoritme:</label>
                <select name="algoritme" id="algoritme" required>
                    <option value="" disabled selected>Selecteer een algoritme</option>
                    <option value="random_oud">Random Oud Algoritme</option>
                    <option value="random_new">Random Nieuw Algoritme</option>
                    <option value="bfs">Breadth-First Search (BFS)</option>
                </select>
                <button type="submit">Start Algoritme</button>
            </form>
            
            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}
            
            <form method="GET" action="/restart">
                <button type="submit">Herstart Spel</button>
            </form>
            
            <div class="back-button">
                <form method="GET" action="/">
                    <button type="submit">Terug naar menu</button>
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>
